# 1033 Data 
### Summary
 - Download raw set
 - Group set by State, Item Name, Ship Date, and NSN (National Stock Number)
 - Derive PSC (Product and Suppy Codes) to categorize items.
 - Download PSC Manual to relate descriptions to PSC codes

In [1]:
import pandas as pd
program_df = pd.read_csv('https://query.data.world/s/jblkhnme7uibgq4golet263yn5jcvj')

In [2]:
#program_df.head()

,Year,Month,State_Ab,State,County,NSN,Item Name,Quantity,UI,Acquisition.Cost,Total.Cost,Ship Date
0,2012,8,AK,ALASKA,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499.0,499.0,8/15/2012
1,2012,8,AK,ALASKA,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499.0,499.0,8/15/2012
2,2012,8,AK,ALASKA,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499.0,499.0,8/15/2012
3,2012,8,AK,ALASKA,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499.0,499.0,8/15/2012
4,2012,8,AK,ALASKA,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499.0,499.0,8/15/2012

In [11]:
# Create a new DF grouping by State, Item Name, Ship Date, NSN.
# Get sum of Quantity
summary_df = program_df.groupby(by = ['State','Item Name', 'Ship Date','NSN'])['Quantity'].sum()
summary_df = pd.DataFrame(summary_df)
summary_df.reset_index(inplace= True)
summary_df.head()

,State,Item Name,Ship Date,NSN,Quantity
0,ALABAMA,1 4 DRIVE SOCKET SET,4/15/2012,5120-00-WRE-NSET,1
1,ALABAMA,10 5 BLK JUNGLE BOOT,4/15/2012,8430-01-B00-T,1
2,ALABAMA,11 5 DESERT BOOT,4/15/2012,8430-01-BOO-T,1
3,ALABAMA,11 GALLON SHARPS CONTAINER RE,2/15/2012,6530-CO-NTA-INER,1
4,ALABAMA,12 INCH SPEAKER S,4/15/2012,5835-00-012-SPEA,1

In [12]:
# Having a mental block...I'm sure there is a more elegant way to add the sum of total cost to the DF above.  But this works.
# Make a new DF and merge it into summary_df on the non-aggregated attributes.
merge_can = program_df.groupby(by= ['State','Item Name', 'Ship Date','NSN'])['Total.Cost'].sum()
merge_can = pd.DataFrame(merge_can)
merge_can.head()
merge_can.reset_index(inplace = True)
summary_df = summary_df.merge(merge_can, how= "inner", on =['State','Item Name', 'Ship Date','NSN'])

In [13]:
summary_df.head()

,State,Item Name,Ship Date,NSN,Quantity,Total.Cost
0,ALABAMA,1 4 DRIVE SOCKET SET,4/15/2012,5120-00-WRE-NSET,1,151.24
1,ALABAMA,10 5 BLK JUNGLE BOOT,4/15/2012,8430-01-B00-T,1,85.00
2,ALABAMA,11 5 DESERT BOOT,4/15/2012,8430-01-BOO-T,1,125.00
3,ALABAMA,11 GALLON SHARPS CONTAINER RE,2/15/2012,6530-CO-NTA-INER,1,142.00
4,ALABAMA,12 INCH SPEAKER S,4/15/2012,5835-00-012-SPEA,1,800.00

In [14]:
# Per "Federal Procurement Data System" manual, 
# the PSC code can be used to categorize the Item Names and are the first 4 char of the NSN
# Get the PSC code from the NSN
summary_df['PSC'] = summary_df['NSN'].str.slice(start=0, stop=4, step=None)

In [15]:
summary_df.head()

,State,Item Name,Ship Date,NSN,Quantity,Total.Cost,PSC
0,ALABAMA,1 4 DRIVE SOCKET SET,4/15/2012,5120-00-WRE-NSET,1,151.24,5120
1,ALABAMA,10 5 BLK JUNGLE BOOT,4/15/2012,8430-01-B00-T,1,85.00,8430
2,ALABAMA,11 5 DESERT BOOT,4/15/2012,8430-01-BOO-T,1,125.00,8430
3,ALABAMA,11 GALLON SHARPS CONTAINER RE,2/15/2012,6530-CO-NTA-INER,1,142.00,6530
4,ALABAMA,12 INCH SPEAKER S,4/15/2012,5835-00-012-SPEA,1,800.00,5835

## Enhance Data with PSC Manual Data

In [17]:
psc_df = pd.read_csv("/Resources/psc_codes.csv")

FileNotFoundError: File b'/Resources/psc_codes.csv' does not exist